@font-face {
  font-family: "8BitStyle";
  src: url(/fonts/Minecraft.ttf);
}

body {
  background-color: rgb(230, 230, 230);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  font-family: "8BitStyle";
  text-align: center;
  font-size: 35px;
}

.scores {
  margin-inline: 10%;

  margin: 10px;

  font-size: 40px;
}

.score {
  margin: 5px;
}
